<div class="media">
    <div class="media-object pull-left avatar">
        <img data-bind="
            attr: {
                src: postModel().data().user.images.medium.imageUri
            },
            style: {
                left: postModel().data().user.images.medium.position.x,
                width: postModel().data().user.images.medium.width,
                top: postModel().data().user.images.medium.position.y
            }
        ">
    </div>

    <div class="media-body">
        <h4 class="media-heading post-title" data-bind="text: postModel().data().user.name"></h4>
        <div class="post-body" data-bind="html: postModel().htmlContent"></div>

        <!-- ko if: postModel().hasReplies -->
        <button class="btn btn-link expand-btn" data-bind="
            click: toggleReplies,
            css: {
                'is-expanded': isDisplayingReplies
            }
        ">
            <span data-bind="ifnot: isDisplayingReplies">Expand</span>
            <span data-bind="if: isDisplayingReplies">Collapse</span>

            <span class="caret"></span>
        </button>
        <!-- /ko -->
    </div>
</div>