.media-detail-post {
    .post-media {
        border: none;
    }

    .post-media img {
        border-radius: 4px 4px 0 0;
        height: auto;
        width: 100%;
        // height: 400px; // for now
    }

    .post-content {
        background-color: #fff;
        border: none;
        border-radius: 0 0 4px 4px;
    }

    .post-content .media {
        border: none;
    }
}