.media-detail-post {
    height: 100%;

    .post-media {
        border: none;
        height: 75%;
        margin-bottom: -4px;
    }

    .post-media img {
        border-radius: 4px 4px 0 0;
        max-height: 582px;
        position: static;
    }

    .post-content {
        background-color: #fff;
        border: none;
        border-radius: 0 0 4px 4px;
    }

    .post-content .media {
        border: none;
    }
}