

<div class="post-content" data-bind="
    css: {
        'is-displaying-extra-content': postModel().hasMedia,
        'is-displaying-replies': isDisplayingReplies,
        'has-replies': postModel().hasReplies
    }
">
    <ul class="actions list-inline">
        <li class="reply-action">
            x
        </li>
        <li class="favorite-action">
            y
        </li>
        <li>
            50m
        </li>
    </ul>

    <!-- ko template: 'components/posts/post-content'-->
    <!-- /ko -->

    <!-- ko if: postModel().hasMedia -->
        <div class="post-media">
            <!-- ko if: postModel().data().media.type === 'video' -->
                <!-- ko template: 'components/video-overlay/video-overlay' -->
                <!-- /ko -->
            <!-- /ko -->

            <img alt="" data-bind="
                attr: {
                    src: postModel().data().media.source
                }
            ">
        </div>
    <!-- /ko -->

    <div class="gutter"></div>
</div>



<!-- ko if: isDisplayingReplies -->
    <ul class="post-replies list-unstyled">
        <!-- ko foreach: replyPostViews() -->
        <li class="reply">
            <!-- ko template: 'components/posts/post-content'-->
            <!-- /ko -->
        </li>
        <!-- /ko -->

        <!-- ko if: isDisplayingCreateNewReply -->
        <li class="reply reply-input form">
            <input class="reply-field form-control" type="text" placeholder="Reply...">
        </li>
        <!-- /ko -->
    </ul>
<!-- /ko -->