<div class="post">
    <div class="post-content" data-bind="
        css: {
            'is-displaying-extra-content': hasMedia,
            'is-displaying-replies': hasReplies
        }
    ">
        <!-- ko template: 'components/posts/post-content'-->
        <!-- /ko -->
    </div>


    <!-- ko if: hasMedia -->
        <div class="post-media">
            <!-- ko if: data().media.type === 'video' -->
                <!-- ko template: 'components/video-overlay/video-overlay' -->
                <!-- /ko -->
            <!-- /ko -->

            <img alt="" data-bind="
                attr: {
                    src: data().media.source
                }
            ">
        </div>
    <!-- /ko -->

    <!-- ko if: hasReplies -->
        <ul class="post-replies list-unstyled">
            <!-- ko foreach: replyPosts() -->
            <li class="reply">
                <!-- ko template: 'components/posts/post-content'-->
                <!-- /ko -->
            </li>
            <!-- /ko -->

            <!-- \ko if: isDisplayingNewReply -->
            <li class="reply reply-input form">
                <input class="reply-field form-control" type="text" placeholder="Reply...">
            </li>
            <!-- \/ko -->
        </ul>
    <!-- /ko -->
</div>