.post {

    .post-content {
        border: 1px solid #dee1e5;
        border-radius: 4px;
        width: 523px;
        padding-top: 25px;
        padding-right: 50px;
        position: relative;
    }

    .post-content.is-displaying-extra-content {
        display: inline-block;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .media {
        margin-left: 25px;
        margin-bottom: 17px;
    }

    .post-title {
        color: #3f454d;
        font-size: 17px;
        font-weight: normal;
    }

    .post-body {
        font-size: 16px;
    }

    .post-body a {
        color: #bec3cc;
    }

    .actions {
        color: #bec3cc;
        font-size: 15.68px;
        position: absolute;
        right: 24px;
        top: 20px;
    }

    .actions .reply {
        margin-right: 22px;
    }

    .actions .favorite {
        margin-right: 19px;
    }

    .post-media {
        position: relative;
        width: 100%
    }

    .post-media .video-overlay {
        border-radius: 0 0 4px 4px;
    }

    .post-media img {
        display: block;
        height: 315px;
    }
}