<div class="post">
    <div class="media">
        <div class="media-object pull-left avatar avatar-sm">
            <img data-bind="
                attr: {
                    src: data().user.imageUri
                }
            ">
        </div>

        <div class="media-body">
            <h4 class="media-heading post-title" data-bind="text: data().user.name"></h4>
            <span class="post-body" data-bind="html: htmlContent"></span>
        </div>

        <ul class="actions list-inline">
            <li class="reply">
                x
            </li>
            <li class="favorite">
                y
            </li>
            <li>
                50m
            </li>
        </ul>

        <!-- ko if: hasMedia -->
        test
        <!-- /ko -->
    </div>
</div>