html {
    height: 100%;
    font-family: @ss-font-family-sans-serif;
    color: #70767f;
    font-size: @ss-font-size-std;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a > img,
button > img {
    display: block; // ensure that interactive tags that wrap an image
                    // are the same height as the image.
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    // OS X Yosemite forces fonts to use "Helvetica Neue Desk Interface"
    font-family: inherit;
    -webkit-font-smoothing: inherit;
}