//
// SimplySocial Project Specific Variables
//

// ==================================================================
// Fonts
// ==================================================================

@ss-font-family-sans-serif: "Proxima Nova", Helvetica, Arial, sans-serif;

// ==================================================================
// Colors
// ==================================================================

@ss-text-color:         "#333";
@ss-heading-text-color: "#000";
@ss-link-color:         "#bec3cc";

// ==================================================================
// Sizing
// ==================================================================

@ss-font-size-std: 17px;

@radius-std: 4px;

// ==================================================================
// Layers
// ==================================================================

@z-index-floor:    0;
@z-index-modal:    9000;
@z-index-dropdown: 8000;
@z-index-overlay:  7000;
