.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);;
    z-index: @z-index-modal;
    text-align: center;

    .modal-window {
        border-radius: 3px;
        display: inline-block;
        left: 50%;
        position: absolute;
        top: 25%;
        .transform(translateX(-50%));
    }

    @btn-size: 21px;

    .modal-close-btn {
        width:  @btn-size;
        height: @btn-size;
        position: absolute;
        top:   -(@btn-size + 2px);;
        right: -(@btn-size + 7px);
    }

    .modal-close-btn .object-btn {
        width:  @btn-size;
        height: @btn-size;
    }



    .modal-content {
        display: inline;
        height: 100%;
        text-align: left;
    }
}

.is-modal-shown .modal {
    display: block;
}