.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    z-index: 9000;

    .modal-window {
        width: 525px;
        position: relative;
        margin: 0 auto;
        background-color: #dee1e5;
        height: 174px;
        border-radius: 3px;
        top: 184px;
        padding: 24px 26px 17px 24px;
    }

    .modal-close-btn {
        @btn-size: 21px;

        border: 1px solid #70767f;
        border-radius: 50%;
        width:  @btn-size;
        height: @btn-size;
        position: absolute;
        top:   -(@btn-size + 2px);;
        right: -(@btn-size + 7px);
    }
}

.is-modal-shown .modal {
    display: block;
}