.app-header {
    background-color: #282828;
    height: 60px;
    display: inline-block;
    width: 100%;

    .logo {
        display: inline-block;
        margin-top: 19px;
        margin-left: 99px;
    }

    .action-items {
        display: inline;
    }
}