.app-header {
    //
    // Header Styling
    //
    background-color: #282828;
    height: 30px;
    padding: 15px 101px 15px 99px;

    //
    // Global Navigation
    //

    .logo {
        margin-top: 4px;
    }

    //
    // Action Items
    //

    .action-items button {
        display: block;
    }

    .action-items .new-post-action {
        margin-right: 24px;
    }

    .action-items .new-post-btn {
        margin-top: 4px;
    }

    .action-items .search-action {
        margin-right: 23px;
    }

    .action-items .search-form-control {
        border: 1px solid #70767f;
        color: #bec3cc;
        height: 28px;
        width: 174px;
    }

    .action-items .user-nav-action .dropdown-toggle .caret {
        vertical-align: top;
        margin-top: 14px;
    }
}

.content-wrapper {
    margin-bottom: 94px;
}

.app-footer {
    border-top: 1px solid #dee1e5;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-top: 31px;
    text-align: center;


    .footer-nav {
        display: inline-block;
    }

    .footer-nav .link {
        color: #00b286;
        margin-right: 24px;

        &:last-child {
            margin-right: 21px;
        }
    }

    .link a,
    .link a:visited {
        color: #00b286;
    }

    .copyright {
        display: inline-block;
    }
}