.new-post {
    .new-post-title {
        display: block;
        margin-bottom: 18px;
    }

    .new-post-input {
        background-color: #fff;
        border: none;
        border-radius: 3px;
        display: block;
        height: 76px;
        margin-bottom: 16px;
        margin-left: 2px;
        max-height: 76px;
        max-width: 503px;
        padding: 6px 10px;
        resize: none;
        width: 503px;
    }

    .media-btn-list {
        margin-left: 5px;
        margin-top: 11px;
    }

    .media-btn-list > li {
        margin-right: 39px;
    }

    .add-media-btn {
        color: #70767f;
        font-size: 15px;
    }

    .create-post-btn {
        display: inline-block;
    }
}