.new-post {
    border-radius: 3px;
    width: 517px;
    padding: 45px 29px 28px 29px;

    .new-post-title {
        display: block;
        margin-bottom: 18px;
    }

    .new-post-input {
        background-color: #fff;
        border: none;
        border-radius: 3px;
        display: block;
        height: 66px;
        margin: 0;
        overflow: auto;
        padding: 0;
        resize: none;
        width: 100%;
    }

    .media-btn-list {
        margin-left: 5px;
    }

    .media-btn-list > li {
        margin-right: 39px;
    }

    .add-media-btn {
        color: #70767f;
        font-size: 15px;
    }

    .add-media-btn .icon-wrapper {
        display: inline-block;
    }

    .add-media-btn object {
        height: 18px;
        width: 18px;
    }

    .add-media-btn .label {
        position: relative;
        top: -3px;
    }

    .add-media-btn .icon-wrapper {
        font-size: 0;
        margin-right: 9px;
    }

    .add-video-btn .icon-wrapper {
        margin-right: 10px;
    }

    .add-video-btn .label {
        top: -4px;
    }

    .create-post-btn {
        display: inline-block;
    }
}

.new-post.new-post-modal {
    background-color: #dee1e5;
    border-radius: 3px;
    height: 174px;
    padding: 24px 26px 17px 24px;
    width: 525px;

    .new-post-input {
        height: 76px;
        margin-bottom: 16px;
        margin-left: 2px;
        max-height: 76px;
        max-width: 503px;
        padding: 6px 10px;
        width: 503px;
    }

    .media-btn-list {
        margin-top: 6px;
    }
}