.btn {
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;

    .caret {
        margin-left: 6px;
    }

    &.btn-primary {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        background-color: #00b286;
        border-radius: 3px;
        padding-left: 24px;
        padding-right: 22px;
        height: 35px;
    }
}