.home-page {
    .home-header {
        background-image: url('assets/images/home-hero-bg.png');
        background-size: cover;
        padding-top: 123px;
        position: relative;
        height: 302px;


        margin-bottom: 50px;
    }

    //
    // New Post Area
    //

    .new-post {
        margin: 0 auto;
        background-color: rgba(0, 178, 134, 0.7);
        color: rgba(255, 255, 255, 0.5);
    }

    .new-post .new-post-input {
        color: rgba(255, 255, 255, 0.5);
        font-size: 32px;
        font-weight: 300;
        background: transparent;

        .placeholder({
            color: rgba(255, 255, 255, 0.5);
            font-weight: 300;
            font-family: @ss-font-family-sans-serif;
            padding-left: 1px;
        });
    }

    .new-post .media-btn-list {
        position: relative;
        bottom: -2px;
    }

    .new-post .add-media-btn {
        color: rgba(255, 255, 255, 0.5);
    }

    //
    // Sub Navigation
    //

    .subnav-container {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    .subnav-container .nav {
        margin: 0 auto;
        width: 575px;
    }

    //
    // Posts List
    //

    .posts-container {
        text-align: center;
    }

    .posts-list {
        display: inline-block;
        text-align: left;
    }

    .post {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    //
    // Grid Layout
    //

    .l-grid.posts-list {
        display: block;
        margin: 0 auto;
        width: 85%;
    }
}


