.settings-view {
    width: 576px;
    margin: 0 auto;

    .title {
        font-weight: normal;
    }

    .title > h1 {
        color: #3f454d;
        font-size: 32px;
    }

    .title > h2 {
        font-size: 13px;
        font-weight: 600;
    }

    .settings-section {
        border-bottom: 1px solid #dee1e5;
        margin-bottom: 47px;
        padding-bottom: 50px;

        &:last-child {
            margin-bottom: 50px;
            padding-bottom: 51px;
        }
    }

    //
    // Notification Settings
    //

    .notification-item {
        height: 25px;
        margin-bottom: 20px;
        position: relative;
    }

    .notification-item:last-child {
        margin-bottom: 0;
    }

    .notification-item .flipswitch {
        display: inline-block;
        margin-right: 24px;
    }

    .notification-item .label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    //
    // Privacy Settings
    //

    .privacy-tags {
        margin-bottom: 25px;
    }

    .privacy-tags .privacy-tags-option {
        margin-bottom: 10px;
    }

    .privacy-others .settings-privacy-other {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}